## pxelinux default boot menu
DEFAULT menu.c32
TIMEOUT 300
PROMPT 0
MENU TITLE PXE Boot Menu – PXE Lab

LABEL local
  MENU LABEL Boot from local disk
  LOCALBOOT 0

LABEL memtest
  MENU LABEL Memory test (Memtest86+)
  KERNEL memtest86+.bin
